
<div class="btn btn-primary"><%= link_to @user.fullname + '\'s Friends', friend_list_path(:user_id => @user.id) %></div>

<h1><%=@user.fullname%></h1>
<%image = Image.where(user_id: @user.id)%>

<%if image.size()==0%>
    <img src="https://via.placeholder.com/200/">
    <%if @user==current_user%>  
        <div class="btn btn-warning"><%= link_to 'Upload Profile Picture', new_image_path %></div>
    <%end%>

<%else%>
    <img src="<%=image[0].picture%>">
    <%if @user==current_user%> 
        <div class="btn btn-warning"><%= link_to 'Change Profile Picture', edit_image_path(image[0].id) %></div>
        <div class="btn btn-danger"><%= link_to 'Delete Profile Picture', image[0], method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <%end%>
<%end%>


  <%if @user==current_user%>  
  <div class="btn btn-warning"><%= link_to 'Edit My Profile', edit_user_registration_path %></div>
  <%else%>
    <%friendship_a = Friendship.where(sender_id: @user.id, receiver_id: current_user.id)%>
    <%if(friendship_a.size()>0)%>
      <%if (friendship_a[0].status==0)%>
        <p><%=@user.fullname%> has sent you a friend request</p>
        <div class="btn btn-success"><%= link_to 'Accept Friend Request', accept_friend_request_path(:user_id => @user.id) %> </div>
        <div class="btn btn-danger"><%= link_to 'Reject Friend Request', reject_friend_request_path(:user_id => @user.id) %></div>
      <%else%>
        <p>You and <%=@user.fullname%> are friends</p>
        <div class="btn btn-danger"><%= link_to 'Unfriend', unfriend_friend_request_path(:user_id => @user.id) %></div>
      <%end%>     
    <%end%>

    <%friendship_b = Friendship.where(sender_id: current_user.id, receiver_id: @user.id)%>

    <%if(friendship_b.size()>0)%>
      <%if (friendship_b[0].status==0)%>
        <p>You have sent <%=@user.fullname%> a friend request  </p>
          <div class="btn btn-warning"><%= link_to 'Withdraw Friend Request', unsend_friend_request_path(:user_id => @user.id)%></div>
        
      <%else%>
        <p>You and <%=@user.fullname%> are friends </p>
        <div class="btn btn-danger"><%= link_to 'Unfriend', unfriend_friend_request_path(:user_id => @user.id) %></div>
        
      <%end%>     
    <%end%>

    <% if friendship_b.size()==0 && friendship_a.size()==0%>
      <div class="btn btn-dark"> <%= link_to 'Send Friend Request', send_friend_request_path(:user_id => @user.id) %> </div>
    <%end%>
  <%end%>

    
    <% @posts.each do |post| %>



        <div class="card m-2" >
          <div class="card-body">
            <h4 class="card-title"> <%= post.name %> </h5>
            <h5 class="card-title"> <%= post.title %> </h5>
            <div class="btn btn-dark"> <%= link_to post.user.fullname , user_path(post.user.id) %> </div>
            <p class="card-text"><%= post.content %></p>
            <div class="btn btn-info"><%= link_to 'Show', post %></div>
            
            <% if current_user==post.user%>
              <div class="btn btn-warning"><%= link_to 'Edit', edit_post_path(post) %></div>
              <div class="btn btn-danger"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>  
          </div>
        </div>
    <% end %>

<br>
<div class="btn btn-success"><%= link_to 'Create a New Post', new_post_path %></div>
