<p id="notice"><%= notice %></p>

<%= link_to @user.fullname + '\'s Friends', friend_list_path(:user_id => @user.id) %>

<h1><%=@user.fullname%></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%if @user==current_user%>
    <%= link_to 'Edit My Profile', edit_user_registration_path %>
  <%else%>
    <%friendship_a = Friendship.where(sender_id: @user.id, receiver_id: current_user.id)%>
    <%if(friendship_a.size()>0)%>
      <%if (friendship_a[0].status==0)%>
        <p><%=@user.fullname%> has sent you a friend request</p>
        <%= link_to 'Accept Friend Request', accept_friend_request_path(:user_id => @user.id) %> |
        <%= link_to 'Reject Friend Request', reject_friend_request_path(:user_id => @user.id) %>
      <%else%>
        <p>You and <%=@user.fullname%> are friends</p>
        <%= link_to 'Unfriend', unfriend_friend_request_path(:user_id => @user.id) %>
      <%end%>     
    <%end%>

    <%friendship_b = Friendship.where(sender_id: current_user.id, receiver_id: @user.id)%>

    <%if(friendship_b.size()>0)%>
      <%if (friendship_b[0].status==0)%>
        <p>You have sent <%=@user.fullname%> a friend request  |
          <%= link_to 'Withdraw Friend Request', unsend_friend_request_path(:user_id => @user.id)%>
        </p>
      <%else%>
        <p>You and <%=@user.fullname%> are friends |
        <%= link_to 'Unfriend', unfriend_friend_request_path(:user_id => @user.id) %>
        </p>
      <%end%>     
    <%end%>

    <% if friendship_b.size()==0 && friendship_a.size()==0%>
      <%= link_to 'Send Friend Request', send_friend_request_path(:user_id => @user.id) %>
    <%end%>
  <%end%>

  <tbody>
    
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        
        <td><%= link_to post.user.fullname , user_path(post.user.id) %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user==post.user%>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>      
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Post', new_post_path %>
