<%= form_with(model: post) do |form| %>
<div class="form-group">
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%select_list = { 'Public': 1, 'Only for Friends': 0 }%>

  <div class="field m-4">

    <%= form.label :name , class: "col-md-4 control-label"%>
    <div class="col-md-8"> <%= form.text_field :name, class: "form-control" %> </div>
  </div>

  <div class="field m-4">
    <%= form.label :title , class: "col-md-4 control-label"%>
    <div class="col-md-8"> <%= form.text_field :title, class: "form-control"  %> </div>
  </div>

 <div class="field m-4">
    <%= form.label :visibility , class: "col-md-4 control-label"%>
    <div class="col-md-8"> <%= form.select :visibility, select_list , { prompt: "Choose Visibilty" }, class: "form-control" %> </div>
  </div>

  <div class="field m-4">
    <%= form.label :content , class: "col-md-4 control-label"%>
    <div class="col-md-8"> <%= form.text_area :content , class: "form-control" %> </div>
  </div>

  <div class="m-4">
     <%= form.submit %> 
  </div>
  
</div>
<% end %>
