

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @post.user.fullname %>
</p>

<% if current_user%>
  <%= link_to 'Like Post', new_like_path(:post_id => @post.id,:user_id => current_user.id) %> |
  <%= link_to 'Unlike Post', unlikepost_path(:post_id => @post.id,:user_id => current_user.id) %> | 
  <% if current_user==@post.user%>
      <%= link_to 'Edit', edit_post_path(@post) %> |
  <%end%>
  <%= link_to 'Back', posts_path %> <br>

  <% likes = Like.where(post_id: @post.id,user_id:current_user.id)%>
  <h3>Likers (<%=likes.size()%>)</h3>
  <%for like in likes%>   
    <%= like.user.fullname %> | <br>
  <%end%>
  
<%end%>



  <h1>All Comments</h1>

  <% comments = Commentary.all%>

  <%for comment in comments%>
    <%if comment.post == @post%>
      <p>
        <strong>Comment:</strong>
        <%= comment.content %>
      </p>

      <p>
        <strong>User:</strong>
        <%= comment.user.fullname %>
      </p>


      <p>
        <strong>Created At:</strong>
        <%= comment.created_at %>
      </p>

      <p>
        <strong>Updated At:</strong>
        <%= comment.updated_at %>
      </p>
      <%if comment.user==current_user%>
        <%= link_to 'Edit', edit_commentary_path(comment) %> 
        <%= link_to 'Delete', commentary_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
      <br>
      <%end%>
    <%end%>

    <h1>Comment on the Post</h1>
    <%= link_to 'Comment Here', new_commentary_path( :post_id => @post.id)%> 
    



